<!DOCTYPE html>
<html lang="en">
<!--<html lang="en"  xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>YourFavouriteRecipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/login.css">
    <script type="text/javascript" src="../static/add-dish.js" defer></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark main">
    <a class="navbar-brand" href="#">Oveneaten</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recipies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Breakfasts</a>
                    <a class="dropdown-item" href="#">Lunches</a>
                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="#">Dinners</a>
                    <a class="dropdown-item" href="#">Vegetarian dishes</a>
                    <a class="dropdown-item" href="#">Etc.</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tips&Tricks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <a class="btn btn-outline-primary" href="#">Log in</a>
        </ul>
    </div>
</nav>
<div class="container col-6 bg-light text-capitalize  d-flex flex-column  justify-content-center mt-5 ">
    <div class="row justify-content-center ">
        <div class="col-6 align-items-center">
            <h1>Add dish</h1>
            <form class="">
                <div class="mb-3">
                    <label for="dishNameInput" class="form-label">Dish name</label>
                    <input type="text" class="form-control" id="dishNameInput" aria-describedby="usernameHelp">
                </div>
                <div class="mb-3">
                    <label for="dishDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="dishDescription" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Preparation time</label>
                    <div class="row">
                        <div class="col-7">
                            <input type="number" class="form-control" min="1" max="1000">
                        </div>
                        <div class="col-5">
                            <select class="custom-select">
                                <option value="1">minutes</option>
                                <option value="2">hours</option>
                                <option value="3">days</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label  class="form-label">For how many people will this dish be?</label>
                    <input type="number" class="form-control" min="1" max="12">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Define the number of components</label>
                    <input id="generateIngredientsInput" type="number" class="form-control" min="1" max="30" placeholder="1">
                </div>
                <button id="generateIngredientsButton"  class="btn btn-primary mb-4">Generate ingredients list</button>

                <div id="ingredients">

                </div>

                <div class="mb-3">
                    <label  class="form-label">Define the number of steps</label>
                    <input id="generateStepsInput"  type="number" class="form-control" min="1" max="30" placeholder="1">
                </div>
                <button id="generateStepsButton"  class="btn btn-primary mb-4">Generate steps list</button>

                <div id="steps">

                </div>

                <button type="submit" class="btn btn-primary mb-2">Add dish</button>
            </form>
        </div>
    </div>
</div>
</body>


<template id="ingredient-template">
    <div class="mb-4 my-ingredient-class">
        <label  class="form-label text-info">Ingredient nr </label>
        <input type="text" class="form-control"  aria-describedby="usernameHelp">
        <label  class="form-label">Amount of the ingredient</label>
        <div class="row">
            <div class="col-7">
                <input type="number" class="form-control" min="1" max="1000">
            </div>
            <div class="col-5">
                <select class="custom-select">
                    <option value="1">grams</option>
                    <option value="2">kilograms</option>
                    <option value="3">glasses</option>
                </select>
            </div>
        </div>
    </div>
</template>

<template id="step-template">
    <div class="mb-4 my-step-class">
        <label  class="form-label text-danger">Step</label>
        <textarea class="form-control" placeholder="Description - Step " rows="3"></textarea>
    </div>
</template>