<!DOCTYPE html>
<html lang="en">
<!--<html lang="en"  xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>YourFavouriteRecipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/login.css">
    <script type="text/javascript" src="../static/add-dish.js" defer></script>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark main">
        <a class="navbar-brand" href="#">Oveneaten</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recipies
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Breakfasts</a>
                        <a class="dropdown-item" href="#">Lunches</a>
                        <!--<div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="#">Dinners</a>
                        <a class="dropdown-item" href="#">Vegetarian dishes</a>
                        <a class="dropdown-item" href="#">Etc.</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tips&Tricks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <a class="btn btn-outline-primary" href="#">Log in</a>
            </ul>
        </div>
    </nav>
    <div class="container-fluid col-12 my-dish">
        <div class="row">
            <div class="col-7 mt-2">
                <img class="d-block w-100 image-class  " src="../static/lunch.jpg" >
            </div>
            <div class="col-5 jumbotron jumbotron-fluid  bg-light text-dark pt-0">
                <div class="container">
                    <h1 class="display-4">Lorem ipsum</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
                    <hr class="my-4">
                    <h4>Preparation time : X</h4>
                    <hr class="my-4">
                    <h4>Number of person : X</h4>
                    <hr class="my-4">
                    <h4>Difficulty : X</h4>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid col-12 pt-0 mt-0">
        <div class="row">
            <div class="col-7 jumbotron jumbotron-fluid  bg-light text-dark pt-0 mt-0 pl-3">
                <h1 class="display-6">Step 1</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
                <h1 class="display-6">Step 2</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
                <h1 class="display-6">Step 3</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
                <h1 class="display-6">Step 4</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
                <h1 class="display-6">Step 5</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
                <h1 class="display-6">Step 6</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla ligula a neque blandit auctor. Nulla viverra felis varius scelerisque facilisis. Mauris fermentum vulputate purus ac malesuada. Aliquam aliquam mi vel tempor dictum. Curabitur et sapien dignissim, lacinia eros non, pharetra diam.</p>
            </div>
            <div class="col-5 jumbotron jumbotron-fluid  bg-light text-dark pt-0 mt-0 text-center">
                <h1 class="display-5 text-center">Ingredients</h1>
                <h6>Ingredient 1</h6>
                <hr class="my-6">
                <h6>Ingredient 2</h6>
                <hr class="my-6">
                <h6>Ingredient 3</h6>
                <hr class="my-6">
                <h6>Ingredient 4</h6>
                <hr class="my-6">
                <h6>Ingredient 5</h6>
                <hr class="my-6">
                <h6>Ingredient 6</h6>
                <hr class="my-6">
                <h6>Ingredient 7</h6>
                <hr class="my-6">
                <h6>Ingredient 8</h6>
                <hr class="my-6">
            </div>
        </div>
    </div>
</body>