<!DOCTYPE html>
<html lang="en">
<!--<html lang="en"  xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>YourFavouriteRecipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/login.css">
    <script type="text/javascript" src="../static/scripts.js" defer></script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark main">
    <a class="navbar-brand" href="#">Oveneaten</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Recipies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Breakfasts</a>
                    <a class="dropdown-item" href="#">Lunches</a>
                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="#">Dinners</a>
                    <a class="dropdown-item" href="#">Vegetarian dishes</a>
                    <a class="dropdown-item" href="#">Etc.</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tips&Tricks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <a class="btn btn-outline-primary" href="#">Log in</a>
        </ul>
    </div>
</nav>
<div class="container col-6 bg-light text-capitalize register-container d-flex flex-column  justify-content-center">
    <div class="row justify-content-center ">
        <div class="col-6 align-items-center">
            <h1>Register</h1>
            <form class="">
                <div class="mb-3">
                    <label for="usernamteInput" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="usernamteInput" aria-describedby="usernameHelp">
                    <div id="usernameHelp" class="form-text">Username can contain any letters or numbers, without spaces.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Please provide your e-mail</div>
                </div>
                <div class="mb-3">
                    <label for="myPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="myPassword" aria-describedby="passwordHelp">
                    <div id="passwordHelp" class="form-text">Password should be at least 4 characters.</div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm address</label>
                    <input type="password" class="form-control" id="confirmPassword" aria-describedby="confirmPasswordHelp">
                    <div id="confirmPasswordHelp" class="form-text">Please confirm password.</div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
