body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.login-container{
    height: 70vh;
}

.register-container{
    height: 80vh;
}

.my-card{
    width: 30rem;
}

.card-text{
    height: 10em;
    overflow: auto;
}

.my-dish{
    height: 30em;
}