body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

.image-class{
    width: auto;
    height: 65vh;
}

.best-dishes{
   height: 20em;
    width: 90%;
}

.add-dish-container{
    overflow-y: auto;
}

.my-carousel-class {
}

.my-carousel-class img{
    background-size: 100% 100%;
}

.my-carousel-class:hover img{
    opacity: 0.5;
}

.my-carousel-class:hover .my-carousel-text{
    opacity: 1;
}

.my-carousel-text{
    opacity: 0;
}

.my-carousel-class img,
.my-carousel-text {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.my-card{

}

.my-card img{
    width: 100%;
    height: 45vh;
}

.my-card-text{
    height: 20vh;
    overflow-y: hidden;
}

.my-mouse-press{
    cursor: pointer;
}

.main-carousel img{
    height: 75vh;
}

@media all and (max-width: 350px) {
    .main-navigation {
        width: 90%;
        margin-right: 2em;
    }

    .search-button{
        width: 90%;
        margin-right: 2em;
    }

}